*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
screenshots
cucumber_rerun.html
cucumber_rerun.json
cucumber.html
cucumber.json
chromedriver.log
rerun.txt
junit

# YARD artifacts
.yardoc
_yardoc
doc/

